.filter-apply-btn {
    background: red;
    color: white;
    text-transform: uppercase;
    padding: 0 35px;
    border-radius: 0;
}

.filter {
    margin-top: 20px;
    padding: 0 40px;
}

.filter-title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;
}

.filter-input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid red;
    color: white;
}