.movie-details-container {
    width: 100%;
    display: flex;
    color: white;
    padding: 0 40px;
}

.movie-details-poster {

}

.movie-details-info {
    flex-grow: 2;
    border: 1px solid red;
    padding: 10px;
    color: white;
}

